body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/wallpaper.jpg);
    background-size: cover;
    color: white;
    font-size: 22px;
}
.login-container{
    margin: 0;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(112, 75, 222, 0.5);
    border-radius: 15px;
}
.header{
    margin: 20px;
    padding: 20px;
    justify-content: center;
}
.modulo{
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
a {
    margin: 10px;   
    font-size: 17px;
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
a:hover {
    text-decoration: underline;
    color: #dcdcdc;
}